.tippy-box .tippy-content {
  padding: 9px 14px;
  overflow: auto;
  display: block;
  pointer-events: all;
}

.tippy-box-title {
  padding: 8px 14px;
  margin: 0;
  font-size: 14px;
  font-weight: bold;
  line-height: 18px;
  background-color: #fff;
  border-bottom: 1px solid #f2f2f2;
  border-radius: 5px 5px 0 0;
}
.tippy-content {
  padding: 0 !important;
  background-color: #fff;
  text-align: left;
  white-space: normal;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  overflow-x: hidden !important;
}
.tippy-box-inverse {
  background-color: #333;
  color: #eee;
}
.tippy-box-inverse .tippy-box-title {
  background: #333;
  border-bottom: 1px solid #3b3b3b;
  color: #eee;
}
.rtl-container {

}
#rtl-popover-content {
  padding: 9px 14px;
}
#rtl-popover-content .rtl-popover-email-input-group {
  position: relative;
  margin-bottom: 1em;
  white-space: nowrap;
}
#rtl-popover-content .rtl-popover-email-input {
  display: inline-block;
  width: 100%;
  min-width: 180px;
}
#rtl-popover-content > span {
  display: block;
  font-size: 0.75em;
  width: 100%;
}
#rtl-popover-content > span a {
  text-decoration: underline !important;
}
#rtl-popover-content > span a.js-wc-rtl-popover-bypass {
  display: block;
  text-align: center;
}
#rtl-popover-content .js-rtl-popover-email {
  display: block;
  width: 100%;
  min-width: 180px;
  padding: 0.6em 2.5em 0.6em 0.8em;
  margin-bottom: 1em;
  line-height: 1.6em;
}
#rtl-popover-content .rtl-popover-email-addon {
  display: inline-block;
  white-space: nowrap;
  text-align: center;
  vertical-align: middle;
  color: #666;
  position: relative;
  right: 2em;
  width: 1em !important;
}
#rtl-popover-content .rtl-popover-email-addon img {
  margin: 0px;
}
#rtl-popover-content .js-rtl-popover-email-icon {
  display: inline-block;
  height: 20px;
  width: 20px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  vertical-align: text-top;
}
#rtl-popover-content .js-rtl-popover-email-typing-indicator {
  text-align: center;
  width: 1em;
  height: 1em;
}
#rtl-popover-content .js-rtl-popover-email-typing-indicator .dot {
  display: inline-block;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  margin-right: 4px;
  animation: typewave 0.75s linear infinite;
}
#rtl-popover-content
  .js-rtl-popover-email-typing-indicator
  .dot:nth-child(2) {
  animation-delay: -0.55s;
}
#rtl-popover-content
  .js-rtl-popover-email-typing-indicator
  .dot:nth-child(3) {
  animation-delay: -0.45s;
}
#rtl-popover-content .rtl-email-success {
  animation: zoomfly 0.3s linear;
}
.tippy-box h3.tippy-box-title {
  padding: 8px 14px;
}
@-moz-keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}
@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}
@keyframes typewave {
  0%,
  60%,
  100% {
    transform: initial;
  }
  30% {
    transform: translateY(-7px);
  }
}
@keyframes zoomfly {
  100% {
    transform: scale(2, 2);
    opacity: 0.5;
  }
}
@media only screen and (min-width: 576px) {
  #rtl-popover-content {
    max-width: 350px;
  }

  #rtl-popover-content .rtl-popover-email-input {
    width: 100%;
    min-width: 300px;
  }

  #rtl-popover-content .js-rtl-popover-email {
    width: 100%;
    min-width: 300px;
  }
}


.tippy-box>.tippy-arrow,.tippy-box>.tippy-arrow:after{position:absolute;display:block;width:0;height:0;border-color:transparent;border-style:solid}
.tippy-box>.tippy-arrow{border-width:11px}
.tippy-box>.tippy-arrow:after{border-width:10px;content:""}
.tippy-box.top>.tippy-arrow,.tippy-box.top-right>.tippy-arrow,.tippy-box.top-left>.tippy-arrow{bottom:-11px;left:50%;margin-left:-11px;border-top-color:#999;border-top-color:rgba(0,0,0,0.25);border-bottom-width:0}.tippy-box.top>.tippy-arrow:after,.tippy-box.top-right>.tippy-arrow:after,.tippy-box.top-left>.tippy-arrow:after{content:" ";bottom:1px;margin-left:-10px;border-top-color:#fff;border-bottom-width:0}.tippy-box.right>.tippy-arrow,.tippy-box.right-top>.tippy-arrow,.tippy-box.right-bottom>.tippy-arrow{top:50%;left:-11px;margin-top:-11px;border-left-width:0;border-right-color:#999;border-right-color:rgba(0,0,0,0.25)}.tippy-box.right>.tippy-arrow:after,.tippy-box.right-top>.tippy-arrow:after,.tippy-box.right-bottom>.tippy-arrow:after{content:" ";left:1px;bottom:-10px;border-left-width:0;border-right-color:#fff}.tippy-box.bottom>.tippy-arrow,.tippy-box.bottom-right>.tippy-arrow,.tippy-box.bottom-left>.tippy-arrow{top:-11px;left:50%;margin-left:-11px;border-bottom-color:#999;border-bottom-color:rgba(0,0,0,0.25);border-top-width:0}.tippy-box.bottom>.tippy-arrow:after,.tippy-box.bottom-right>.tippy-arrow:after,.tippy-box.bottom-left>.tippy-arrow:after{content:" ";top:1px;margin-left:-10px;border-bottom-color:#fff;border-top-width:0}.tippy-box.left>.tippy-arrow,.tippy-box.left-top>.tippy-arrow,.tippy-box.left-bottom>.tippy-arrow{top:50%;right:-11px;margin-top:-11px;border-right-width:0;border-left-color:#999;border-left-color:rgba(0,0,0,0.25)}.tippy-box.left>.tippy-arrow:after,.tippy-box.left-top>.tippy-arrow:after,.tippy-box.left-bottom>.tippy-arrow:after{content:" ";right:1px;border-right-width:0;border-left-color:#fff;bottom:-10px}.tippy-box-inverse.top>.tippy-arrow,.tippy-box-inverse.top-left>.tippy-arrow,.tippy-box-inverse.top-right>.tippy-arrow,.tippy-box-inverse.top>.tippy-arrow:after,.tippy-box-inverse.top-left>.tippy-arrow:after,.tippy-box-inverse.top-right>.tippy-arrow:after{border-top-color:#333}.tippy-box-inverse.right>.tippy-arrow,.tippy-box-inverse.right-top>.tippy-arrow,.tippy-box-inverse.right-bottom>.tippy-arrow,.tippy-box-inverse.right>.tippy-arrow:after,.tippy-box-inverse.right-top>.tippy-arrow:after,.tippy-box-inverse.right-bottom>.tippy-arrow:after{border-right-color:#333}.tippy-box-inverse.bottom>.tippy-arrow,.tippy-box-inverse.bottom-left>.tippy-arrow,.tippy-box-inverse.bottom-right>.tippy-arrow,.tippy-box-inverse.bottom>.tippy-arrow:after,.tippy-box-inverse.bottom-left>.tippy-arrow:after,.tippy-box-inverse.bottom-right>.tippy-arrow:after{border-bottom-color:#333}.tippy-box-inverse.left>.tippy-arrow,.tippy-box-inverse.left-top>.tippy-arrow,.tippy-box-inverse.left-bottom>.tippy-arrow,.tippy-box-inverse.left>.tippy-arrow:after,.tippy-box-inverse.left-top>.tippy-arrow:after,.tippy-box-inverse.left-bottom>
.tippy-arrow:after{border-left-color:#333}.tippy-box i.icon-refresh:before{content:""}
